# vscode
.vscode/
server/.vscode/

# caches
server/__pycache__/
server/main/__pycache__/
server/models/__pycache__/

# android studio caches
.idea/
.gradle/

#Local Configuration file 
local.properties
